body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#graph-select {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
}

#graph-container {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
}

.node circle {
    fill: #69b3a2;
    stroke: #fff;
    stroke-width: 2px;
}

.node text {
    font-size: 14px;
    fill: #fff;
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: normal;
}

.link {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 2px;
}

.link.red line {
    stroke: red;
}

.link.red text {
    fill: red;
}

.link.green line {
    stroke: green;
    stroke-opacity: 50%;
    stroke-width: 4px;
}

.link.green text {
    fill: green;
}